<div class="container">
<footer class="footer">

<small>
	Copyright &copy; <a href="https://github.com/Alie-Ammaar">Ruby on rails development</a> by <a href="https://www.facebook.com/alie.ammaar">Rana Ali Ammaar</a>
</small>
<nav>
	<ul>
		<li>
			<%= link_to "About", about_path %>
		</li>
	</ul>
</nav>
</footer>	
</div>